:host {
  display: flex;
}

.message {
  width: 100%;
  border-radius: 0;
}

:host:nth-child(even) .message {
  background-color: aliceblue;
}

.header {
  display: flex;
  justify-content: space-between;
}

.author {
  display: inline-flex;
}

.delete-button {
  display: inline-flex;
  padding: 8px;
}
