:host {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
}

.user {
  height: 48px;
}

.history {
  height: 100vh;
  max-height: calc(100vh - 186px - 48px);
}

.sender {
  height: 120px;
}

.divider {
  margin-left: 0;
}

.max-width {
  max-width: 600px;
}
