:host {
  display: block;
  padding: 16px;
}

.history {
  height: 100vh;
  max-height: calc(100vh - 186px);
}

.sender {
  height: 120px;
}

.divider {
  margin-left: 0;
}

.max-width {
  max-width: 600px;
}
