:host {
  display: block;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 4px;
  width: 100%;
  overflow: auto;
  border: solid 1px rgba(0, 0, 0, 0.125);
  height: 100%;
}

.placeholder {
  height: 400px;
  width: 100%;
  padding: 16px;
}

.inner-placeholder {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: dashed 4px rgba(0, 0, 0, 0.125);
}
